.ff-fantasy {
  font-family: fantasy;
}
.ff-Impact {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.ff-lucida {
  font-family: 'Lucida Sans';
}

.ff-georgia {
  font-family: Georgia, 'Times New Roman', Times, serif
}