.fs-30px {
  font-size: 30px;
}
.fs-20px {
  font-size: 20px;
}
.fs-16px {
  font-size: 16px;
}
.fs-14px {
  font-size: 14px;
}
.fs-12px {
  font-size: 12px;
}
.fs-10px {
  font-size: 10px;
}

.fs-finance-header {
  font-size: 16px;
}