.h-100vh {
  height: 100vh;
}
.h-90vh {
  height: 90vh;
}
.h-80vh {
  height: 80vh;
}
.h-65vh {
  height: 65vh;
}
.h-60vh {
  height: 60vh;
}
.h-55vh {
  height: 55vh;
}
.h-50vh {
  height: 50vh;
}
.h-30vh {
  height: 30vh;
}
.h-25vh {
  height: 25vh;
}
.h-20vh {
  height: 20vh;
}
.h-10vh {
  height: 10vh;
}
.h-9vh {
  height: 9vh;
}
.h-8vh {
  height: 8vh;
}
.h-7vh {
  height: 7vh;
}
.h-6vh {
  height: 6vh;
}
.h-5vh {
  height: 5vh;
}
.h-4vh {
  height: 4vh;
}

.w-auto {
  width: auto;
}

.c-pointer {
  cursor: pointer;
}

.bg-grey {
  background-color: #F0F3FF;
}
.bg-orange {
  background-color: #F57D1F;
}

.font-size-12px {
  font-size: 12px;
}
.font-size-10px {
  font-size: 10px;
}

.ff-fantasy {
  font-family: fantasy;
}
.ff-Impact {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.overflow {
  overflow: scroll
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
