.bg-grey {
  background-color: #F0F3FF;
}
.bg-orange {
  background-color: #F57D1F;
}
.bg-blue {
  background-color: #40A2D8;
}
.bg-transparent {
  background-color: transparent;
}
.bg-nav {
  background-color: #803D38;
  /* background-color: #AF8260; */
}

.bg-footer {
  background-color: #322C2B;
}