.bg-home {
  background-image: url(../../assets/bg/bg-mobile-01.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-about {
  background-image: url(../../assets/bg/bg-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-faq {
  background-image: url(../../assets/bg/bg-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-profile {
  background-image: url(../../assets/icon/profile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-paper {
  background-image: url(../../assets/icon/paper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-auth {
  background-image: url(../../assets/bg/bg-04.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-form-auth {
  background-image: url(../../assets/bg/bg-05.png);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 1200px) {
  .bg-home {
    /* background-image: url(../../assets/bg/bg-01.png); */
    background-image: url(../../assets/bg/bg-ohara.jpeg);
  }
}
